body,
html,
#root,
.App {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

$height: 20%;
$pos: 100% - $height - 5%;

.box {
  width: 20%;
  height: $height;
  background: red;
  position: absolute;
  left: 50%;
  top: $pos;
  transform: translateX(-50%);
  transition: 1s ease-in-out;
}

.line {
  margin-top: 20%;
  height: 1%;
  width: 100%;
  background: blue;
}
