@mixin transition {
  @for $i from 0 through 17 {
    $hundreds: $i/10;
    .ease-out-#{$i} {
      transition: #{$hundreds}s ease-out;
    }

    .ease-in-out-#{$i} {
      transition: #{$hundreds}s ease-in-out, transform 0s ease-in-out;
    }

    .linear-#{$i} {
      transition: #{$hundreds}s linear;
    }

    .ease-in-#{$i} {
      transition: #{$hundreds}s ease-in;
    }
  }
}

@mixin generate-grid($columns, $size: "") {
  @for $i from 1 through $columns {
    $margin: 0.25;
    $width: calc((100% / (#{$columns} / #{$i}) - #{$margin * 2}#{"%"}));
    @if ($size == "") {
      .col-#{$i}-#{$columns} {
        width: $width;
        margin: $margin#{"%"};
        display: inline-block;
        vertical-align: middle;
        font-size: 0;
        > * {
          font-size: 16px;
        }
      }
      .col-offset-#{$i}-#{$columns} {
        margin-left: $width;
      }
    } @else {
      .col-#{$size}-#{$i}-#{$columns} {
        width: $width;
        display: inline-block;
        vertical-align: middle;
        font-size: 0;
        > * {
          font-size: 16px;
        }
      }
      .col-#{$size}-offset-#{$i}-#{$columns} {
        margin-left: $width;
      }
    }
  }
}
