//box
$boxHeight: 20%;

//grid
$gridMargin: 0.2;

//spacing
$elementSpacing: 5;
$totalSpacing: #{$elementSpacing * 3};

//heights
$h1Height: 7;
$playersFormHeight: 22.5;
$playerFieldHeight: 50;
$playerFieldBigHeight: 130;
$playerColorButtonHeight: 20;

//width
$scrollWidth: 5;

//border
$playerInputFieldBorder: 8;
